<table class="RentCar ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Fiyat</th>
            <th>Açıklama</th>
            <th>Detay</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{car.carId}}</td>
        <td>{{car.brandId}}</td>
        <td>{{car.colorId}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
        <td > <a routerLink = "/cars/{{car.carId}}" class="btn btn-info" type="button">  Detaya git </a> 
       
      </td>
    </tr>
</table>